*.log
*.aux
*.bbl
*.out
*~
*.nav
*.tbl
*.err
*.toc
code/instance_generator/bin/*
code/instance_generator/obj/*
code/instance_generator/bin
code/instance_generator/obj
code/instance_generator/*.dat
code/preprocessing/bin/*
code/preprocessing/obj/*
code/preprocessing/bin
code/preprocessing/obj
code/column_generation/bin/*
code/column_generation/obj/*
code/column_generation/bin
code/column_generation/obj
code/column_generation/*.json
test-data/model-data-paper/*
